/* ----- Global ----- */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 1fr;
	font-family: "Raleway", sans-serif;
	background-color: #01e37f;
}

h3 {
	font-size: 0.7em;
	letter-spacing: 1.2px;
	color: #a6a6a6;
}

img {
	max-width: 100%;
	filter: drop-shadow(1px 1px 3px #a6a6a6);
}

/* ----- Product Section ----- */
.product {
	display: grid;
	grid-template-columns: 0.9fr 1fr;
	margin: auto;
	padding: 1.5em 0;
	min-width: 400px; /* Adjusted to make the section smaller */
	background-color: white;
	border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
	position: relative;
}

.photo-container {
	position: absolute;
	left: -1.5em; /* Adjusted to make the section smaller */
	display: grid;
	grid-template-rows: 1fr;
	width: 80%; /* Adjusted to make the section smaller */
	height: 80%; /* Adjusted to make the section smaller */
	border-radius: 6px;
	box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
	border-radius: 6px 6px 0 0;
	background-color: #9be010;
	background: radial-gradient(#e5f89e, #96e001);

	img {
		position: absolute;
		left: -2.5em; /* Adjusted to make the section smaller */
		top: 1em;
		max-width: 100%;
		filter: saturate(150%) contrast(120%) hue-rotate(10deg)
			drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
	}
}

.photo-album {
	padding: 0.7em 1em;
	border-radius: 0 0 6px 6px;
	background-color: #fff;

	ul {
		display: flex;
		justify-content: space-around;
	}

	li {
		float: left;
		width: 45px; /* Adjusted to make the section smaller */
		height: 45px; /* Adjusted to make the section smaller */
		padding: 5px; /* Adjusted to make the section smaller */
		border: 1px solid #a6a6a6;
		border-radius: 3px;
	}
}

/* ----- Informations Section ----- */
.product__info {
	padding: 0.8em 0;
}

.title {
	h1 {
		margin-bottom: 0.1em;
		color: #4c4c4c;
		font-size: 1.2em; /* Adjusted to make the section smaller */
		font-weight: 900;
	}

	span {
		font-size: 0.7em;
		color: #a6a6a6;
	}
}

.price {
	margin: 1.5em 0;
	color: #ff3f40;
	font-size: 1.0em; /* Adjusted to make the section smaller */

	span {
		padding-left: 0.15em;
		font-size: 2.0em; /* Adjusted to make the section smaller */
	}
}

.variant {
	overflow: auto;

	h3 {
		margin-bottom: 1.1em;
	}

	li {
		float: left;
		width: 20px; /* Adjusted to make the section smaller */
		height: 20px; /* Adjusted to make the section smaller */
		padding: 3px;
		border: 1px solid transparent;
		border-radius: 3px;
		cursor: pointer;

		&:first-child,
		&:hover {
			border: 1px solid #a6a6a6;
		}
	}

	li:not(:first-child) {
		margin-left: 0.1em;
	}
}

.description {
	clear: left;
	margin: 1em 0; /* Adjusted to make the section smaller */

	h3 {
		margin-bottom: 0.8em; /* Adjusted to make the section smaller */
	}

	ul {
		font-size: 0.8em;
		list-style: disc;
		margin-left: 1em;
	}

	li {
		text-indent: -0.6em;
		margin-bottom: 0.5em;
	}
}

.buy--btn {
	padding: 1em 2em; /* Adjusted to make the section smaller */
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: #ff3f40;
	box-shadow: 2px 2px 25px -7px #4c4c4c;
	cursor: pointer;

	&:active {
		transform: scale(0.97);
	}
}

/* ----- Footer Section ----- */
footer {
	padding: 1em;
	text-align: center;
	color: #fff;

	a {
		color: #4c4c4c;

		&:hover {
			color: #ff3f40;
		}
	}
}

