/* General Styles */
body {
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  /* Navbar Styles */
  .navbar {
    background-color: rgb(251, 167, 181);
  }
  
  .navbar-brand,
  .nav-link {
    color: #fff !important;
  }
  
  .nav-link:hover {
    color: #f8f9fa !important;
  }
  
  /* Header Title and Filter */
  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .filter-container h1 {
    margin-bottom: 0;
  }
  
  /* Product Cards */
  .card {
    border: none;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.25rem;
    color: rgb(251, 167, 181);
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .btn-primary {
    background-color: rgb(251, 167, 181);
    border-color: rgb(251, 167, 181);
  }
  
  .btn-primary:hover {
    background-color: #e65550;
    border-color: #e65550;
  }
  
  /* Footer */
  footer {
    background-color: rgb(251, 167, 181);
    color: #fff;
    padding: 1rem 0;
  }
  
  footer p {
    margin: 0;
  }


